/*styles for home content only*/

/*courses list & items*/
.courses-list {
  box-sizing: border-box;
  padding: 5px;
  border-radius: 4px;
  background-color: azure;
}

.courses-list-item {
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.33);
  border-radius: 4px;
  background-color: #00838F;
  color: #fff;
  box-sizing: border-box;
  padding: 15px;
  margin-bottom: 15px;
}

.courses-list-item-link {
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  padding: 15px 10px;
  border-radius: 4px;
  background-color: aqua;
  color: darkcyan;
  margin: 10px 0;
  text-decoration: none;
}

/*Topform*/
.topform {
  margin-bottom: 20px;
  clear: both;
  overflow: hidden;
}


